.footer {
  padding: 40px 0;
  background-color: #08475E;
  color: #fff;
}
.footer__container {
  display: grid;
  grid-template-areas: 
    "logo menu menu"
    "copyright . contact"
  ;
  gap: 34px 36px;
}
.footer__logo {
  grid-area: logo;
}
.footer__nav {
  grid-area: menu;
}
.footer__copyright {
  grid-area: copyright;
  font-size: 12px;
}
.footer__contact {
  grid-area: contact;
  justify-self: end;
  font-size: 12px;
}
.footer__contact:hover,
.footer__contact:focus-visible {
  color: #55C2FF;
}

@media (max-width: 768px) {
  .footer .nav__item {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  .footer__container {
    grid-template-areas: 
      "logo menu"
      "copyright contact"
    ;
    row-gap: 39px;
  }
  .footer__nav {
    justify-self: end;
  }
}

