.hero {
  background: #000 url('../../img/bg.jpg');
  background-size: cover;
  background-position: center;
}
.hero__container {
  padding-top: 127px;
  padding-bottom: 127px;
}
.hero__title {
  margin-bottom: 18px;
  font-size: 100px;
  font-weight: 700;
  color: #55C2FF;
}
.hero__subtitle {
  margin-bottom: 50px;
  max-width: 480px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #FFF;
}
.hero__btn:hover,
.hero__btn:focus-visible {
  border-color: #1C88EB;
}
.hero__btn:active {
  background-color: #1C88EB;
}

@media (max-width: 1024px) {
  .hero__container {
    padding-top: 92px;
    padding-bottom: 92px;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 60px;
  }
  .hero__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero__container {
    padding-top: 81px;
    padding-bottom: 81px;
  }
  .hero__title {
    margin-bottom: 10px;
    font-size: 60px;
  }
  .hero__subtitle {
    margin-bottom: 24px;
    max-width: 354px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__subtitle {
    max-width: 230px;
  }
}