.nav__list {
  display: flex;
  gap: 43px;
}
.nav__item {
  font-size: 18px;
}
.nav__link:hover,
.nav__link:focus-visible {
  color: #55C2FF;
}

@media (max-width: 620px) {
  .nav__list_footer {
    flex-direction: column;
    row-gap: 15px;
  }
  .nav__item {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .nav__list {
    flex-direction: column;
    row-gap: 20px;
  }
}